{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete:</h2>
        <p class="todo-title">"{{ task.title }}"</p>

        <form method="POST" class="form-box">
            {% csrf_token %}
            <div class="actions" style="justify-content: center; gap: 15px;">
                <button type="submit" class="btn danger">Yes, Delete</button>
                <a href="{% url 'home' %}" class="btn small">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
